*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Crucial para controle de tamanho */
}

body {
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(0deg, #161625, #36364b);
    color: white;
}

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    flex-direction: column;
    height: 100vh;
}

button{
    background-color: #3B82F6;
    color: white;
}

.add_tasks{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.task-list{
    width: 50%;
    max-width: 700px;
    min-height: 250px;
    height: auto;
    max-height: 300px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    overflow-y: auto;
    background-color: #262640;
    border: 2px solid #3B82F6;
    box-shadow: 0 0 12px rgba(59,130,246,0.3);
}

#list{

    margin-left: 2.5rem;
}

input{
    border-radius: 5px;
    background-color: #31314F;
    color: white;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 8px;
    outline: none;
}

input:focus{
    border: 1px solid #3B82F6;
    box-shadow: 0 0 10px rgba(59,130,246,0.4);
}

button{
    border-radius: 5px;
    background-color: #3B82F6;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover{
    background-color: #2563EB;
    transform: scale(1.05);
}

h1{
    font-size: 70px;
    letter-spacing: 2px;
    text-shadow: 3px 3px rgba(255,255,255,0.2);
}